# Dependencies
node_modules/

# Secrets & Environment
.env
.env.*

# Build outputs
dist/
build/

# Git
.git/
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker-related files
Dockerfile
.dockerignore